:root {
  --InPurple: #9400D3;
  --LightPurple: #8B53FF;
  --InGreen: #00FF00;
  --Green: #04D004;
  --LightGreen: #99FFAB;
  --black: #211B15;
  --white: #ffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #211B15;
  background-image: url(../img/background.jpg);
  background-size: cover; /* ou 'contain', dependendo do efeito desejado */
  height: 100vh;
  margin: 0; /* Remova margens padrão do corpo da página */
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
}

input [type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 300px;
  font-size: 15px;
  font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#nome {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  height: 20px;
  font-size: 15px;
  font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#email {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  height: 20px;
  font-size: 15px;
  font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

.function{
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  height: 20px;
  font-size: 15px;
  font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#botao_login {
  padding: 10px;
  margin-top: 10px;
  background-color: var(--InGreen);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  font-size: 16px;
  margin: 10px;
}

input#botao_login:hover{
  background-color: var(--Green);
}

img {
  padding: 10px 0;
  margin: 0 40% 0 40%;
}

.logo{
  display: contents;
  width: 100%;
}

.login {
  display: grid;
  align-items: center;
  justify-items: center;
  /* Novo */
  text-align: left;
}

.login>div {
  text-align: left;
  /* Alinhamento horizontal */
  margin: 0 10% 0 10%;
}

#id-img {
  width: 200px !important;

}

label {
  font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
  color: white;
  text-align: left;
  margin: 15px;
}

.content {
  background-color: #211B15;
  opacity: 95% ;
  border-radius: 20px;
  border: solid 3px #8B53FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

#linhas {
  display: flex;
  align-items: center;
}

.line {
  width: 300px;
  height: 2px;
  background: var(--InPurple);
  margin: 15px;
}

.cadastro{
  text-decoration: none;
  color: #ccc;
  font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
  margin-bottom: 5%;
}
.cadastro:hover{
  text-decoration: underline var(--InPurple);
}

.function {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 43px;
}

.functionSelect{
  height: 70px;
}
@media only screen and (max-width: 768px) {
  .form {
    margin: 10px 0;
  }
}