:root {
    --InPurple: #9400D3;
    --LightPurple: #8B53FF;
    --InGreen: #00FF00;
    --Green: #04D004;
    --LightGreen: #99FFAB;
    --black: #211B15;
    --white: #ffff;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: content-box;
    font-family: 'Bauhaus', serif !important;
}

body {
    width: 100%;
    height: 100%;
}

.formss{
    display: flex;
 }

#icon {
    color: #fff;
    cursor: pointer;
}

#icon:hover {
    color: #bababa;
}

#menu_vertical a {
    text-decoration: none;
    color: #ccc;
}

#menu_vertical li {
    list-style-type: none;
}

#menu_vertical {
    display: none;
}

menu {
    display: none;
}

@font-face {
    font-family: "Bauhaus";
    src: url(/Bauhaus\ Font\ Family/);
}

.container {
    max-width: 1140px;
}

.navbar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0 5px 0;
    background-color: var(--black) !important;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu ul {
    align-items: center;
}

.navbar-menu li {
    flex-direction: row;
    display: flex;
}

.navbar-logo {
    align-items: center;
    padding: 5px 0 5px 0;
    width: 100px;
}

.content {
    display: flex;
}

#logo1 {
    width: 100%;
}

p.user{
    color: #fff;
    font-family: "Bauhaus";
    font-size: 16px;
    margin: 0 5px;
    font-weight: bold;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-size: 20px;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    color: #bababa;
}

#departamentos {
    border: none;
    background-color: var(--black);
    font-size: 20px;
    color: var(--white);
    padding-left: 20px;
}

#departamentos:hover {
    color: #bababa;
}

#lupa {
    width: 30px;
    padding-right: 20px;
}

#carrinho {
    width: 40px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 20px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.ask {
    width: 400px;
    height: 100%;
    font-size: 15px;
    padding-left: 5px;
}

.logout {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
 }
 
 .logout a {
    text-decoration: none;
    color: #fff;
 }
 
 .logout:hover {
    background-color: var(--InGreen);
    border-radius: 3px;
 }
 

.logarConta {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
}

.logarConta a {
    text-decoration: none;
    color: #fff;
}

.logarConta:hover {
    background-color: var(--InGreen);
    border-radius: 3px;
}

.slidesec {
    display: none;
}

.galery {
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
    margin-right: 0;
}

@keyframes animacao {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }

    100% {
        margin-left: -400%;
    }
}

button {
    all: unset;
    cursor: pointer;
    outline: revert;
}

.barra {
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
}

#linhas {
    display: flex;
    align-items: center;
}

.line {
    width: 50%;
    height: 2px;
    background: var(--black);
    margin: 15px;
}

.pag {
    font-size: 20px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
    font-weight: 700;
}

.brandimg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0;
}

.forms {
    display: flex;
}

.marcas {
    background-color: var(--black);
    height: 310px;
}

.brandimg img {
    width: 200px;
    height: 200px;
    border: 3px solid transparent;
    /* Adicione uma borda transparente */
    transition: border 0.3s;
}

.brand {
    height: 200px;
}

.brandimg img.gren:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00FF00, #3cff3c, #85ff85) border-box;
    border: 3px solid transparent;
}

.brandimg img.purpl:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #9400D3, #9b1dd2, #a64ecc) border-box;
    border: 3px solid transparent;
}

.b1 p {
    padding-top: 2px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
    color: #fff;
    font-weight: bold;
}

.b1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*footer css*/

.footer-clean {
    padding: 30px 0;
    background-color: var(--InPurple);
    color: #fff;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}


.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}
@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
    #menu_vertical {
        display: block;
    }

    #icon {
        padding-left: 8px;
    }

    .navbar {
        align-items: left;
    }

    .navbar-logo {
        width: 65px;
        align-items: left;
        margin: 8px;
    }

    .search {
        width: 230px;
    }

    .contentHead {
        display: none;
    }

    #carrinho {
        display: none;
    }

    .marcas {
        height: 350px;
    }

    .brandimg img {
        width: 100px;
        height: 100px !important;
    }

    .brandimg {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3%;
    }

    .brand {
        height: 100px;
    }

    .brand1 {
        height: 100px;
    }

    .slide {
        display: none;
    }

    .slidesec {
        display: flex;
    }
    .ask{
        width: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width:1000px)
 {

    .formss{
        margin-left: 30px;
    }
    #menu_vertical {
        display: block;
    }

    #icon {
        padding-left: 8px;
    }

    .navbar {
        align-items: left;
    }

    .navbar-logo {
        width: 65px;
        align-items: left;
        margin: 8px;
    }

    .search {
        width: 200px;
    }

    .ask {
        width: 250px;
    }

    .contentHead {
        display: none;
    }

    #carrinho {
        display: none;
    }

    .marcas {
        height: 550px;
        width: 100%;
    }

    .brandimg img {
        width: 150px;
        height: 150px !important;
    }

    .b1 {
        padding-top: 35px;
    }

    .brandimg {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3%;
        width: 100%;
    }

    .brandimg p {
        padding-top: 60px;
    }

    .brand {
        height: 100px;

    }

    .slide {
        display: none;
    }

    .slidesec {
        display: flex;
    }
}
