:root {
    --InPurple: #9400D3;
    --LightPurple: #8B53FF;
    --InGreen: #00FF00;
    --Green: #04D004;
    --LightGreen: #99FFAB;
    --black: #211B15;
    --white: #ffff;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
   background-size: 100%;
} 

#botao-add{
    background-color: #01d816; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    border: none; /* Remover a borda padrão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Alterar o cursor ao passar o mouse */
    font-size: 14px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento de texto */
    text-decoration: none; /* Remover sublinhado de links */
    width: 330px;
    margin-top: 5px;
}

/*cabeçalho*/
#icon {
    color: #fff;
    cursor: pointer;
}

#icon:hover {
    color: #bababa;
}

#menu_vertical a {
    text-decoration: none;
    color: #ccc;
}

#menu_vertical li {
    list-style-type: none;
}

#menu_vertical {
    display: none;
}

aside {
    display: none;
}

@font-face {
    font-family: "Bauhaus";
    src: url(/Bauhaus\ Font\ Family/);
}

.container {
    max-width: 1140px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0 5px 0;
    background-color: var(--black) !important;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-menu ul{
    align-items: center;
}

.navbar-menu li {
    flex-direction: row;
    display: flex;
}

.navbar-logo {
    align-items: center;
    padding: 5px 0 5px 0;
    width: 100px;
}

.content {
    display: flex;
}

#logo1 {
    display: contents;
    width: 100%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-size: 20px;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-family: "Gotham";
}

.nav-link:hover {
    color: #bababa;
}

#departamentos {
    border: none;
    background-color: var(--black);
    font-size: 20px;
    color: var(--white);
    font-family: "Gotham";
    padding-left: 20px;
}

#departamentos:hover {
    color: #bababa;
}

#lupa {
    width: 30px;
    padding-right: 20px;
}

#carrinho {
    width: 40px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 20px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.ask {
    width: 94%;
    height: 100%;
    font-size: 15px;
    font-family: "Gotham";
    padding-left: 5px;
}

.logarConta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
}
.logarConta a{
    text-decoration: none;
    color: #fff;
    font-family: "Gotham";
}
.logarConta:hover{
    background-color: var(--InGreen);
    border-radius: 3px;
}

.descricao {
    max-width: 400px; /* Define a largura máxima da descrição do produto */
    margin: 0 auto; /* Centraliza a descrição do produto horizontalmente */
    text-align: center; /* Centraliza o texto no centro */
    padding: 35px; /* Adiciona espaçamento interno */
    border: 2px solid #ccc; /* Adiciona uma borda ao redor da descrição do produto */
    border-radius: 10px; /* Borda arredondada */
    background-color: #f9f9f9; /* Cor de fundo */
    align-items: start;
    display: flex;
    flex-direction: column;
}

.tam {
    margin-top: 5px;
}

.valor {
    margin-top: 5px;
}

.pagamento  {
    border: solid 2px #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

#pagamento {
    border: none;
    margin-top: 3px;
}

.botoes-mostruario {
    margin-top: 5px;
}

.descric {
    margin-top:20px;
    margin-left: 40px;
    margin-right: 10px;
    background-color: #fff;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

@media screen and (max-width:750px) {
    #menu_vertical {
        display: block;
    }
    #icon {
        padding-left: 8px;
    }

    .navbar {
        align-items: left;
    }

    .navbar-logo {
        width: 65px;
        align-items: left;
        margin: 8px;
    }

    .search {
        width: 230px;
    }

    .contentHead {
        display: none;
    }

    #carrinho {
        display: none;
    }

}

@media screen and (min-width: 751px) and (max-width:1000px) {
    #menu_vertical {
        display: block;
    }
    #icon {
        padding-left: 8px;
    }

    .navbar {
        align-items: left;
    }

    .navbar-logo {
        width: 65px;
        align-items: left;
        margin: 8px;
    }

    .search {
        width: 200px;
    }

    .ask{
        width: 250px;
    }
    .contentHead {
        display: none;
    }

    #carrinho {
        display: none;
    }

}
/*main*/

.barra {
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
}

#linhas {
    display: flex;
    align-items: center;
}

.line {
    width: 50%;
    height: 2px;
    background: var(--black);
    margin: 15px;
}

.pag {
    font-size: 20px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
    font-weight: 700;
}
/*footer css*/

.footer-clean {
    padding: 30px 0;
    background-color: var(--InPurple);
    color: #fff;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}


.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.barra {
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
}

.galery {
    padding-top: 70px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #211B15;
    width: 100%;

}
.fotos{
    width: 125px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:3%;
}
.fotos img{
width: 125px;
margin-bottom: 10px;
margin-right: 20px;

}

.img2 {
width: 500px;
height: 450px;

}


#linhas {
    display: flex;
    align-items: center;
}

.line {
    width: 42%;
    height: 2px;
    background: var(--black);
    margin: 15px;
}

.pag {
    font-size: 20px;
}

h2 {
    text-align: center;
    margin: 10px;
    margin-bottom: 5px;
    color: #ccc;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

label {
   font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
   color: #ccc;
   text-align: left !important;
   margin: 0px;
}

#l {
    margin: 6px;
}

#b {
    margin: 0px;
}

input#acessorio_modelo {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#acessorio_preco {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#acessorio_des {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#acessorio_marca {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#acessorio_cor {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#acessorio_tamanho {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#acessorio_cat {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

.btn {
    background-color: var(--InGreen);
    color:  #ffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    margin: 10px 65px;
 }
 .btn:hover{
    background-color: var(--Green);
 }

.container {
    background-color: #211B15;
   opacity: 95% ;
   margin-top: 1%;
   border-radius: 20px;
   border: solid 3px #8B53FF;
   display: flex;
   flex-direction: column;
   align-items: center !important;
   justify-content: center !important;
   width: 350px;
   margin: 1% 35%;
   padding: 10px 10px;
}

input#vestuario_modelo {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#vestuario_preco {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#vestuario_des {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#vestuario_marca {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#vestuario_cor {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#vestuario_tamanho {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#vestuario_cat {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_modelo {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_preco {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_des {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_marca {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_cor {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_tamanho {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

input#tenis_cat {
    margin: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    font-family: "Bauhaus", "Helvetica Neue", Helvetica, Arial;
}

@media screen and (min-width: 370px) and (max-width:750px) {
    #menu_vertical {
        display: block;
    }

    #icon {
        padding-left: 8px;
    }

    .navbar {
        align-items: left;
    }

    .navbar-logo {
        width: 65px;
        align-items: left;
        margin: 8px;
    }

    .search {
        width: 230px;
    }

    .contentHead {
        display: none;
    }

    #carrinho {
        display: none;
    }

    .marcas {
        height: 350px;
    }

    .brandimg img {
        width: 100px;
        height: 100px !important;
    }

    .brandimg {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3%;
    }

    .brand {
        height: 100px;
    }

    .brand1 {
        height: 100px;
    }

    .desc_produto{
        display: flex;
        flex-direction: row;
        background-color: black;
    }

    .principal{
    }
    .slidesec {
        display: flex;
    }
}

@media screen and (min-width: 750px) and (max-width:1000px) {
    #menu_vertical {
        display: block;
    }

    #icon {
        padding-left: 8px;
    }

    .navbar {
        align-items: left;
    }

    .navbar-logo {
        width: 65px;
        align-items: left;
        margin: 8px;
    }

    .search {
        width: 200px;
    }

    .ask{
        width: 450px;
    }

    .contentHead {
        display: none;
    }

    #carrinho {
        display: none;
    }

    .marcas {
        height: 550px;
        width: 100%;
    }

    .brandimg img {
        width: 150px;
        height: 150px !important;
    }

    .b1 {
        padding-top: 35px;
    }

    .brandimg {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3%;
        width: 100%;
    }
    .brandimg p{
        padding-top: 60px;
    }
    .brand {
        height: 100px;
        
    }
    .slide {
        display: none;
    }

    .slidesec {
        display: flex;
    }
    .img1 {
        width: 50%;
    }
}